       .data {
            border-collapse: collapse;
            width: 100%;
        }

        .data td, .data th {
            border: 1px solid rgb(0, 0, 0);
            padding: 8px;
        }

    

        .data tr:hover {
            background-color: rgb(152, 137, 216);
        }

        .data th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #3183af;
            color: white;
        }
